body {
      font-family:  sans-serif;
      background:whitesmoke;
      }
      figure {
      text-align: center;
      font-size: 3.4vw;
      }
      div {
      box-sizing: border-box;
      }
      .links{
      margin-top: 4vw;
      
      } 
      .phead{
      text-align: center;
      font-size: 3.4vw;
      line-height: 0.9;
      margin-bottom: 0em;
      padding:0px;
      padding-top: 28px;
      }  
      .pbody{
      margin-top: 8vw;
      margin-bottom: 0em;
      padding-top:0.5vw;
      padding-right: 0.1vw;
      padding-left: 0.1vw;
      padding-bottom:0em;
      font-size: 3.2vw;
      line-height: 0.9;
      text-align: center;   
      } 
      .cclearfix{
      overflow-x: hidden ;
      overflow-y: hidden;
      }
      .flip-card {
      background-color: transparent;
      width:100%;
      height:37vw;
      border-width: 2px;
      }
      .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      }
      .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
      }
      .flip-card-front, .flip-card-back {
      position:absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: rotateX(0deg);
      }
      .flip-card-front {
      background-color: white;
      color: black;
      z-index: 2;
      }
      .flip-card-back {
      background-color: white;
      color:black;
      transform: rotateY(180deg);
      z-index: 1;
      }
      .img-fluid{
      margin-top:2.8vw;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 23vw;
      width: 23vw;
      border-radius:50%; 
      }
      .flipcard{
      border:0vw;
      }
      .container-fluid{
      border:0vw;
      }
      .img-res{
      width:100%;
      position:relative;
      }
      .heading{
      text-align:center;
      margin:1vw;
      font-size:4vw;
      color:black;
      padding:1.5vw;
      }
      .team-heading{
      text-align:center;
      color: black;
      font-size:5vw;
      padding:5vw;
      opacity:0.9;
      }
      .material-icons{
      margin:1vw;
      }
      .padding-left-right{
      padding-left: 2vw;
      padding-right: 2vw;
      }
      .fa {
      margin:0.8vw;
      font-size: 2vw;
      width: auto;
      text-align: center;
      color:lightblue;
      text-shadow:2px 2px 4px #000000;
      font-size:5vw
      }
      .margin-top-bottom{
      margin-bottom: 2vw; 
      margin-top: 2vw;
      }